/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif !important;
}

/* Navbar container */

.container {
    justify-content: center !important;
    padding: 0px !important;

}

.navbar {
    background: #252F3D !important;
    padding: 10px 0px;
    height: 45px !important;
}

.navbar-brand {
    display: block;
    color: #FFFFFF;
    width: 100%;
    margin-right: 0px;
}

.nav-item {
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
}


#carouselExample {
    color: white !important;
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    width: 100% !important;
}

.carousel-control-prev,
.carousel-control-next {
    margin: 0px;
}

.carousel-item-start p,
.carousel-item-prev p,
.carousel-item-end p,
.carousel-item-next p,
.carousel-item-start p svg,
.carousel-item-prev p svg,
.carousel-item-end p svg,
.carousel-item-next p svg {
    display: none;
}

.next-icon,
.prev-icon {
    filter: none;
    color: white;
    height: 20px;
}

.carousel-item {
    float: none;
    margin-right: 0% !important;
}

.nav-item>svg {
    margin-right: 8px;
}

#carouselExample button svg {
    font-size: 20px;
    fill: white;
    position: fixed;
    top: 1rem !important;
}


/* 2nd Navbar */

.row {
    padding: 20px 33px 20px 22px;
}


div.col-1:nth-child(3) {
    padding-right: 0px;
}


.brand-logo img {
    width: 106.67px;
    height: 20px;
}


.brands img {
    width: 44px;
    height: 16px;
}

/* Main */

.main-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 140%;
    text-transform: capitalize;
    color: #000000;
    margin-top: 22px;
}

.main-title h1 {
    font-size: 32px;
    margin: 0px;
}

.main-title p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #4D5254;
}

div.container:nth-child(2)>div:nth-child(1) {
    padding: 3px 44px 20px 33px;
}


.icon img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.label {
    font-size: 12px;
    width: max-content;
}

.label.active {
    font-weight: bold;
}


/* Product Section */

#product {
    padding: 0px 8px;
}

#product>div:nth-child(1)>div:nth-child(1) {
    padding-right: 22px;
}


.special-price {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.highlight-price {
    color: #2C7EF8;
}

.img-fluid {
    border-radius: 3%;
    width: 320px;
    height: 328px;
}



.container-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
    width: 320px;
    height: 122px;
    padding: 0px 16px 16px;

}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    width: 320px;
    height: 80px;
    padding: 0px;

}

.logo {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    background: #2C7EF8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 0px;
}


div.stars:nth-child(2) {
    margin-left: 0px;
}


.product-info {
    padding: 0px !important;
    margin-top: 0px;
}


.product-name {
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    padding: 0px;
    margin-left: 12px;

}

.product-price {
    display: flex;
    gap: 8px;
    align-items: center;
}

.original-price {
    font-size: 10px;
    font-weight: 600;
    text-decoration: line-through;
    color: #969696;
}

.discounted-price {
    font-size: 14px;
    font-weight: 600;
    color: #2C7EF8;
}

.stars {
    display: flex;
    gap: 4px;
    margin: -11px 0px 0px -11px;

}

.star-icon svg {
    width: 10px;
    height: auto;
}

.stock {
    font-size: 12px;
    font-weight: lighter;
    color: #37465A;
    margin-top: -5px;
}


.dot-img {
    width: 12px;
}

.description {
    font-size: 12px;
    font-weight: normal;
    color: #4D5254;

}


.product-features {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 320px;
    height: 80px;
    color: #4D5254;
}

.feature {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 12px;
    width: 302px;
    height: 16px;
}

.feature p {
    font-style: normal;
    font-size: 12px;
    line-height: 160%;
    color: #4D5254;
}

.bolder {
    font-weight: bold;
}


.feature svg {
    width: 14px;
    height: auto;
    margin-bottom: 8px;
    padding-bottom: 8px;
}

article.d-block {
    width: 100%;
    text-align: center;
    font-size: 11px;
    padding: 0px;
    margin-top: 22px;
}



div.feature p {
    margin-top: 0px;
}


.product-features {
    margin-top: 29px;
}



.container-description {
    padding-left: 0px;
    padding-right: 0px;
}


.product-section {
    background: #EDF3FD;
    border-radius: 10px;
    margin: 22px 0px 0px;
    padding: 12px 22px;
}


.price-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #000000;
    text-align: left;
}

.light-blue {
    color: #2C7EF8;
}

.percent-img {
    border-radius: 50%;
    width: 24px;
    margin-right: 16px;
}

.product-section .col-10 {
    padding-left: 0px;
    padding-right: 0px;
}


div.col-2:nth-child(1) {
    padding-left: 0px;
    padding-right: 0px;
    width: auto;
}


.discount-btn {
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 55px;
    margin-top: 24px;
    width: 320px;
    height: 51px;
    background: #59AE43;
    border-radius: 50px;
    border: none;
}

.arrow {
    font-size: 22px;
    width: auto;
    padding-right: 0px;
    padding-left: 0px;
    margin-bottom: 4px;
}



.payment-section {
    color: #4D5254;
    font-size: 12px;
    padding: 8px 13px 8px 16px;
    gap: 12px;
    width: 100%;
    border: 1px solid #CFCFCF;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 24px;
}


.dividing-line {
    width: 1.1px;
    height: 13px;
    background-color: #CFCFCF;
    padding: 0;
    transform: rotate(0deg);
    margin-top: 3px;
}

.horizontal-line {
    border: none;
    border-top: 2px solid #6A6868;
    width: 95%;
    margin: 0;
}

.payment-section img {
    width: 67%;
    margin-left: 40px;
}

.payment-section p.col-4 {
    padding: 0px;
    width: fit-content;
    margin-bottom: 0;
    text-transform: capitalize;
}


.no-section {
    text-align: center;
    margin-top: 3px;
}

.no-thanks {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #F82C2C;
}

.guarantee {
    padding: 16px;
}

.guarantee img {
    width: 48px;
    margin-top: 3px;
    border-radius: 50%;
}

.guarantee-text {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    color: #4D5254;
}

.guarantee div.col-4 {
    width: auto;
}

.guarantee .align-items-start>div {
    padding-left: 0;
    padding-right: 0;
}

.guarantee .align-items-start {
    margin: 0px -40px 0px 1px;
    padding: 20px 0px;
}


div.col-4>img:nth-child(1) {
    margin-right: 16px;
}


/* Testimonial Section */

#testimonials {
    margin: 33rem 0 3rem;
    padding-top: 22px;
}

.profile-img {
    width: 48px;
    padding-top: 0px;
    border-radius: 50%;


}


#testimonials>div:nth-child(1) {
    margin-left: 3px;
    background: #f3f3f3;

}


.testimonial-text {
    color: #4D5254;
    font-size: 14px;
    margin-top: 8px;
    margin-right: -8px;
}


.verified {
    color: #5BB59A;
    font-size: 8px;
    margin-top: 3px 3px 0px 1px;
    padding-left: 11px;
    position: relative;
    bottom: 3px;
}


.author-name {
    width: max-content;
    margin-left: -1px;
    position: absolute;
    right: 111px;
    margin: 0px 16px 0px 0px;
    font-size: 14px;
    padding-left: 0px;
    padding-bottom: 0px;
}


div.col-4:nth-child(3) {
    align-items: center;
}

div.stars:nth-child(1)>span:nth-child(1) {
    height: auto;
    margin-top: 1px;
}


div.stars:nth-child(1) {
    margin-top: 0px;
    padding-bottom: 22px;
}



/* Footer */

footer {
    background: #252F3D;
    color: white;
    font-size: 12px;
}


footer p.col-4 {
    width: fit-content;
    text-align: center;
}


footer p.col-12 {
    text-align: center;
}

footer:nth-child(3)>div:nth-child(1) {
    padding-bottom: 11px;
    margin-left: -3px;

}

footer:nth-child(3)>div:nth-child(1)>div:nth-child(2) {
    margin-left: -8px;
    margin-right: 3px;
}



/* Desktop Media Queries */
@media (min-width: 768px) {

    /* Header */

    .row {
        padding: 30px 68px;
    }

    .brand-logo img {
        width: 192px;
        height: 36px;
    }

    .brands img {
        width: 82px;
        height: 32px;
    }


    /* Main */

    .main-title {
        margin-top: 0px;
    }

    .main-title h1 {
        font-size: 48px;
    }

    .main-title p {
        font-size: 24px;
    }

    .icon img {
        width: 40px;
        height: 40px;
    }

    .label {
        font-size: 20px;
        margin-left: 20px;
    }


    div.container:nth-child(3)>div:nth-child(1) {
        padding: 33px 0;
    }

    .d-none .col {
        padding: 0;
    }

    #product {
        background-color: #FAFAFA;
        margin: 0px 55px;
        gap: 32px;
    }



    #product>div:nth-child(1)>div:nth-child(1) {
        padding-left: 0px;
    }

    .special-price {
        font-size: 32px;
        line-height: 140%;
        margin-bottom: 0;
        display: flex;
        align-items: center;
        text-align: left;
        margin-left: 40px;

    }

    .img-fluid {
        margin-left: 22px;
        width: 575px;
        height: 591px;
    }

    .container-description {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 32px 40px;
        width: 550px;
        height: 135px;
        padding: 0px;
    }

    .header {
        width: 550px;
        height: 80px;
        padding: 0px;
        margin: 0 39px;
    }

    .logo {
        width: 134px;
        height: 134px;
        border-radius: 10px;
        background: #2C7EF8;
    }

    .logo img {
        width: 134px;
        height: 134px;
    }

    .info {
        width: 392px;
        height: 135px;
        line-height: 20px;
        padding: 0px 2px 0px 21px;
        margin-top: -22px;
    }

    .product-name {
        font-size: 20px;
    }

    .discounted-price {
        font-size: 16px;
    }

    .original-price {
        font-size: 22px;
    }

    .stars {
        width: 98px;
        margin: 3px 0 8px -11px;
    }


    .star-icon svg {
        width: 15px;
        height: auto;
    }


    .stock {
        font-size: 16px;
        margin-bottom: 3px;
    }

    .description {
        font-size: 15px;
        margin-left: -10px;
    }

    .product-price {
        align-items: center;
    }

    .original-price {
        font-size: 16px;
    }

    .discounted-price {
        font-size: 22px;
    }


    .product-features {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 96px;
        gap: 16px;
        width: 489px;
        height: 98px;
        margin: 0 33px;
    }

    .feature {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 11px;
        width: 481px;
        height: 22px;
    }

    .feature p {
        font-size: 16px;
        line-height: 160%;
    }

    .feature svg {
        width: 22px;
        padding-bottom: 11px;
    }

    .price-text {
        font-size: 16px;
        width: auto;

    }


    .percent-img {
        width: 32px;
        margin: -2px 16px 0px 0px;
    }


    .product-section {
        margin-left: 33px;
        padding: 12px 26px 12px 16px;
    }


    span.light-blue:nth-child(2) {
        margin-right: 0px;
    }


    .product-section .col-10 {
        margin-right: 33px;
    }

    .discount-btn {
        font-size: 20px;
        margin-left: 33px;
        width: auto;
        padding-left: 117px;
        padding-right: 144px;
    }


    .arrow {
        margin-left: 19px;
        font-size: 33px;
    }









    .guarantee img {
        width: 88px;
    }


}